.admin-dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2c3e50;
  color: #fff;
  padding: 15px 20px;
  margin-top: 30px;
}

.logout-btn {
  background: #e74c3c;
  border: none;
  padding: 8px 15px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.admin-container {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 200px;
  background: #34495e;
  color: #fff;
  /* padding: 20px; */
  padding: 10px;
  display: flex;
  flex-direction: column;
}

/* .sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
} */
.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content {
  margin-top: 20px;
  flex: 1;
  padding: 60px;
}

.acards {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.acard {
  flex: 1;
  background: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
}
.high-risk-container {
  margin-top: 20px;
  padding: 15px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  max-height: 500px;   /* height limit */
  overflow-y: auto;
}

.high-risk-container h3 {
  margin-bottom: 10px;
  color: #2c3e50;
}

.high-risk-table {
  width: 100%;
  border-collapse: collapse;
}

.high-risk-table th, 
.high-risk-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.high-risk-table th {
  background-color: #f5f5f5;
  
}

.risk-badge {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  /* color: #fff; */
}

.risk-badge.high {
  background-color: #e74c3c;
}
.summary-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-top: 20px;
}

.summary-list {
  margin-top: 10px;
}

.summary-line {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.summary-line:last-child {
  border-bottom: none;
}
.admin-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db;
  color: white;
  padding: 1.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin-bottom: 1.5rem;
  margin-top: 30px;
}

.admin-banner .banner-text h2 {
  margin: 0;
  font-size: 1.8rem;
}

.admin-banner .banner-text p {
  margin: 0.2rem 0 0 0;
  font-size: 1rem;
}

.admin-banner .banner-icon {
  font-size: 3rem;
}



